.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.content-container {
  flex: 1;
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* NAVBAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px;
  border-color: #000;
  border: 2px solid rgba(1, 162, 255, 0.404);
  padding: 0.5rem;
  padding-left: 10%;
  padding-right: 10%;
}


nav>img {
  width: 200px;
  margin: 0;

}

nav.dark>img {
  filter: invert(100%);
}

.toggle-container {
  width: 200px;
}

.nav-bar {
  background-color: #47d1f3;
  align-items: center;
  display: flex;
  justify-content: space-between;

}

/* BUTTONS */

.buttonNav {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 100px;
  text-align: center;
}

.buttonNav:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #008fb3;
  border-radius: 10rem;
  z-index: -2;
}

.buttonNav:hover {
  color: #eeff00;
}

.buttonNav:hover:before {
  width: 100%;
}

/* FORM */



input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 14px;
  font-size: 16px;
}

input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


/* BUTTON FORM */

.btn-form {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 12px;
  font-weight: 500;
  font-family: inherit;
  background-color: #008fb3;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 5px;
  /* margin-bottom: 513px; */
  width: 110%;
}


.btn-form:hover {
  border-color: #00ff55;
  background-color: #29b33b
}


a {
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

a:hover {
  color: rgb(136, 136, 136);
}

/* CONTACT */
.contact-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
  /* height: 100vh; */
}

.asdasd {
  display: flex;
  justify-content: center;
  align-items: center;

}

/* DETAILS */

.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-details {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.card p {
  font-size: 16px;
  margin-bottom: 5px;
}


/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  background-color: #47d1f3;
  border: 2px solid rgba(1, 162, 255, 0.404);
}

footer.dark>img {
  filter: invert(100%);
}

footer>img {
  width: 200px;
  margin: 0;
}

footer>p {
  margin: 0;
  padding-top: 0.7rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
  /* width: 300px;
  height: 100px;
  margin: 0 auto; */
}

/* FAVS */

.favs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 10px; */

}


.favButton {
  background-color: rgba(0, 4, 250, 0.116);
  padding: 10px;
  border: 1px solid;
  border-radius: 100px;
  border-color: #00d9ff;
  width: 50%;
  cursor: pointer;
  /* margin: auto; */
}


.btn-favs {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: #d41919;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 5px;
  margin-bottom: 15px;
}

/* HOME */

h1 {
  padding: 0;
  margin: auto;
}

.main-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  border-right: 2px solid rgba(1, 162, 255, 0.404);
  border-left: 2px solid rgba(1, 162, 255, 0.404);
}



/* CARD */

.card {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 220px;
  /* width: 10%; */
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  text-align: center;
  margin: 0;
  background-color: #c5ebf077;
  border-radius: 55px;
  box-sizing: border-box;
}

.card h2 {
  font-size: 17px;
}

.card h3 {
  font-size: 15px;
}

.card-container {
  display: flex;
  margin: 33px;
}

.card:hover {
  border: 1px solid rgb(1, 204, 255);
}

.card-grid {
  display: flex;
  justify-content: space-evenly;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-image: round;
  border-radius: 60px;
  /* width: 80%; */
  align-self: center;
  margin-bottom: 5px;
}

.card h2 {
  width: auto;
  height: auto;
}

.card h3,
.card h4 {
  margin: 5px 0;
  /* Reducir el espacio vertical entre los títulos */
}

.card-id {
  position: absolute;
  top: 28px;
  right: 30px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 12px;
  font-size: 14px;
  z-index: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;

}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark {
  background-color: #1c1b1ff3;
  color: white;
}


/* .dark-navbar {
  background-color: #c5ebf077;
} */


.dark>a {
  color: white;
}

.dark .link-text {
  color: white;
  /* Cambia el color al que desees */
  text-decoration: none;
  /* Opcional: elimina el subrayado de los enlaces */
}


/* DARK BUTTON */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.styled-checkbox {
  display: none;

}

.styled-label {
  position: relative;
  width: 60px;
  height: 25px;
  display: block;
  background: #d9d9d9;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.3), inset 0px -5px 15px rgba(255, 255, 255, 0.3);
}

.styled-label:after {
  content: '';
  position: absolute;
  height: 17px;
  width: 17px;
  background: #f2f2f2;
  border-radius: 100px;
  top: 4px;
  left: 5px;
  transition: 0.5s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.styled-checkbox:checked~.styled-label:after {
  left: 55px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.styled-checkbox:checked~.styled-label {
  background: #242424;
}